<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/adminpageall.css">-->

    <!-- semantic css 라이브러리 설치 -->
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <!-- 삭제하시겠습니까? 스크립트 출력문-->
    <script>
        function confirmDelete(formElement) {
            var userNickname = formElement.querySelector('button').getAttribute('data-user-nickname');
            return confirm(userNickname + " 사용자를 삭제하시겠습니까?");
        }
    </script>
    <!-- 성공 메시지가 있을 때 JavaScript를 통해 alert 표시 -->
    <script th:if="${successMessage}" th:inline="javascript">
        alert([[${successMessage}]]);
    </script>

</head>
    </head>
    <body>

    <!-- ====================== 기본설정 ======================= -->

    <!-- 사이드바 -->
    <div class="sidebar">
        <ul class="category">
            <li>유저 관리</li>
            <li><a href="userstatus">유저 조회</a></li>
            <li>시설 관리</li>
            <li><a href="poststatus">시설 추가</a></li>
            <li><a href="companystatus">시설 조회</a></li>
            <li>업체 인증 관리</li>
            <li><a href="certification">인증 대기중 업체</a></li>
            <li>문의사항 관리</li>
            <li><a href="notinquiry">문의 답변하기</a></li>
            <li><a href="inquirystatus">문의사항 조회</a></li>
            <li>공지사항 관리</li>
            <li><a href="announcement">공지사항 등록</a></li>
            <li><a href="announcestatus">공지사항 조회</a></li>
        </ul>
    </div>

    <!-- 사이드바 토글 -->
    <div id="sidebarToggle"> >> </div>
    <script>
        var sidebarToggle = document.getElementById('sidebarToggle');
        var sidebar = document.querySelector('.sidebar');
        var body = document.body;
        var isSidebarVisible = true;

        sidebarToggle.addEventListener('click', function() {
            if (isSidebarVisible) {
                sidebar.style.left = '-200px';
                body.style.marginLeft = '100px';
                sidebarToggle.style.left = '0';
            } else {
                sidebar.style.left = '0';
                body.style.marginLeft = '200px';
                sidebarToggle.style.left = '200px';
            }
            isSidebarVisible = !isSidebarVisible;
        });
    </script>

    <!-- ====================== 해당 페이지 설정 ======================= -->

    <h1>사용자 목록</h1>
    <!-- 사용자 목록 -->

    <!-- 검색 폼 -->
    <form th:action="@{/admin/userstatus/search}" method="get" class="search-form">
        <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
        <button type="submit">검색</button>
    </form>
    <!-- 사용자 추가 버튼 -->
    <div>
        <a href="/admin/userstatus/add">사용자 추가</a>
    </div>

        <table>
            <thead>
            <tr>
                <!-- 헤더 -->
                <th>유저 코드</th>
                <th>유저 닉네임</th>
                <th>유저 이메일</th>
                <th>유저 상태</th>
                <th>유저 권한</th>
                <th>애완견 목록</th>
                <th>업체 좋아요 목록</th>
                <th>유저 등록 날짜</th>
                <th>유저 수정 날짜</th>
                <th>수정</th> <!-- 수정 버튼 헤더 추가 -->
                <th>삭제</th> <!-- 삭제 버튼 헤더 추가 -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <!-- 사용자 정보 -->
                <td th:text="${user.userCode}"></td>
                <td th:text="${user.userNickname}"></td>
                <td th:text="${user.userEmail}"></td>
                <td th:text="${user.userStatus}"></td>
                <td th:text="${user.userAuth}"></td>
                <td th:text="${user.petCodeList}"></td>
                <td th:text="${user.companyCodeList}"></td>
                <td th:text="${#dates.format(user.registDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(user.updateDate, 'yyyy-MM-dd')}"></td>

                <!-- 수정 링크 -->
                <td>
                    <a th:href="@{/admin/userstatus/edit/{userCode}(userCode=${user.userCode})}">수정</a>
                </td>


                <!-- 삭제 버튼 -->
                <td>
                    <form th:action="@{/admin/userstatus/delete/{userCode}(userCode=${user.userCode})}" method="post" onsubmit="return confirmDelete(this);">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" th:attr="data-user-nickname=${user.userNickname}">삭제</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

        <div> <span th:text="'총 사용자 수: ' + ${totalUserCount}">총 사용자 수</span> </div>

        <!-- 페이지네이션 로직 -->
    <div class="ui pagination menu">
        <a class="item" th:if="${currentPage > 1}" th:href="@{/admin/userstatus(page=${currentPage - 1})}">
            이전
        </a>
        <div class="disabled item" th:text="${currentPage}">
            현재 페이지
        </div>
        <a class="item">
            10
        </a>
        <a class="item">
            11
        </a>
        <a class="item active" th:text="${currentPage}">
            12
        </a>
        <a class="item" th:if="${usersCountOnPage == 20 and (currentPage * 20) < totalUserCount}" th:href="@{/admin/userstatus(page=${currentPage + 1})}">
            다음
        </a>
    </div>



    </body>
</html>
